apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: kaniko-test-pipeline-run
spec:
  pipelineRef:
    name: kaniko-test-pipeline
  params:
  - name: image
    value: {{ .Values.image.repository }}/{{ .Values.image.name }}:{{ .Values.image.tag }}
  workspaces:
  - name: shared-workspace
    persistentvolumeclaim:
      claimName: kaniko-source-pvc
  - name: registry-creds
    secret:
      secretName: {{ .Values.imagePullSecrets }}
 